body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 60px;
    opacity: 65%;
    
}
p{
    font-size: 18px;
    opacity: 50%;
    margin-bottom: 70px;
    
}
.banner-section{
    display: flex;
    margin-bottom: 70px;
}
.half-item{
    width: 50%;
}
.half-item-chef{
    width: 50%;   
}
.half-item img{
    width: 100%;
}
.half-item-chef img{
    width: 60%;
    margin-top: 60px;
}
.text-part{
    margin-top: 110px;
    margin-left: 100px;
}
.orange{
    color: #ff7b00;
}
.button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #FF8040,#FF6347);
    padding: 18px 40px;
    border-radius: 30px;
    
}
.about-chef{
    display: flex;
    background-image: url(../images/bg-1.png);
    background-repeat: no-repeat;
    margin-bottom: 70px;
}
.image-chef{
    margin-left: 200px;
}
.text-chef{
    margin-right: 150px;
    margin-left: 0;
    margin-top: 60px;
}
.my-recipies{
    text-align: center;
    width: 50%;
    margin-left: 320px;
}
h2{
    font-size: 32px;
    opacity: 65%;
}
.recipies-title-parts{
    display: flex;
}
.recipies-title{
    width: 25%;
    margin-left: 55px;
    padding: 20px;
    box-shadow: 0px 0px 20px #d8d4d4;
    border-radius: 20px;
}
.recipies-title img{
    width: 100%;
}
h3{
    font-size: 23px;
      
}
.recipies-title-parts{
    width: 90%;
    margin-left: 50px;
}
.recipies{
    margin-bottom: 100px;
}
.footer-part{
    text-align: center;
    background-color: #000102;
    padding-top: 30px;
    padding-bottom: 40px;
}
.footer-part h2{
color: gray;
}
.footer-part p{
    color: #ebe8e8;
    }
#food{
    background: -webkit-linear-gradient(#f5c88d, #ff6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.newsletter{
    text-align: center;
    width: 50%;
    margin-left: 350px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.input-email{
    font-size: 15px;
    padding: 10px;
    padding-right: 60px;
    border: 1px solid orange;
    border-radius: 5px;
    margin-left: 150px;
    
}
.input-subscribe{
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    background-image: linear-gradient(to right, #FF8040,#FF6347);
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}
.form-text{
    display: flex;
    
}
.blog-text{
    display: flex;
    margin-bottom: 150px;
    
}
.blog h1{
    text-align: center;
}
.blog-item{
    width: 50%;
    margin-left: 80px;
    margin-right: 50px;
    box-shadow: 0px 0px 20px #d8d4d4;
    padding: 30px;
}
.blog-item img{
    width: 100%;
    border-radius: 20px;
}
.blog-item p{
    margin-bottom: 40px;
}
.social-media{
    width: 80%;
    display: flex;
    margin-left: 140px;
    box-shadow: 0px 0px 20px #d8d4d4;
    margin-bottom: 100px;
    border-radius: 20px;

}
.subscribers{
    margin-left: 150px;
    padding-top: 30px;
}
.subscribers h2{
    font-size: 48px;
    opacity: 100%;  
}
#paragraph-footer{
    font-size: 12px;
    font-weight: 100;

}